html, body {
  width: 100vw;
  height : 100vh;
  font-family: "Trebuchet MS";
  margin : 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

table {
  font-family: 'Verdana';
  font-size: small;
  border-collapse: collapse;
  height : auto;
  box-shadow: 1px 1px 2px #333;
}

caption {
  font-family: 'Verdana';
  caption-side: top;
  text-align: left;
  padding: 0 0 .25em 0;
  font-weight: bold;
}

th {
  background-color: #ECECED;
}

th, td {
  border : 1px solid black;
  text-align: center;
  padding : 5px;
}

div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

p {
  margin : .5em 0 .5em 0;
}

#panel {
  width: 900px;
}

input[type="file"] {
  display: none;
}

#drop-area {
  border: 5px dashed rgb(127, 127, 127);
  border-radius: 10px;
  padding: 10px;
  color: black;
  cursor: grab;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 0;
}

#drop-area.highlight {
  border-color: black;
  cursor: grab;
  color : white;
  background-color: rgb(127, 127, 127);
}

.button {
  padding: 5px;
  background: rgb(127, 127, 127);
  color: white;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid black;
}

.button:hover {
  color: rgb(127, 127, 127);
  background : white;
}

.popup {
  padding: 1px;
}

.popup:hover {
  color: white;
  background : rgb(127, 127, 127);
}

.selected {
  background-color: #C00;
  color : #ECECED;
}

#popup {
  display: none;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  position: absolute;
  top : 0;
  left : 0;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

#popup-message {
  flex-grow: 0;
  background-color: #ECECED;
  color : black;
  border-radius: 5px;
  border: 5px solid black;
  padding: 10px;
  max-width: 75%;
  cursor: pointer;
}

.block {
  flex-direction: column;
  justify-content: start;
  align-items: start;
}